# Ignore files and directories commonly excluded from Docker images
.dockerignore
.git
.github
.gitignore
.vscode
.DS_Store

# Ignore .md files
*.md

# Ignore .NET related files
bin/
obj/

examples/
output/
data/
